/*
 * Variables
 * ---------
 */

 :root {
  --green: #e19c7d;
  --white: #FFFFFF;
}

/* Functions */

/* 
 * Font / breakpoint sizes
 * @param [number] $px
 * @return [number]
 */

/* 
 * Strip unit from number
 * @param [number] $number
 * @return [number]
 */

/* Mixins */

/* 
 * Min media query
 * @param [string/number] $min
 */

/* 
 * Max media query
 * ---------------
 * @param [string/number] $max
 */

/* 
 * Fluid sizes ( font-size, padding, margins... )
 * @param [number] $minVW
 * @param [number] $maxVW
 * @param [number] $minSize
 * @param [number] $maxSize
 */

/* 
 * Min/max media query
 * -------------------
 * @param [string/number] $min
 * @param [string/number] $max
 */

/* Base */





h1 {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 5%;
  align-items: center;
  margin: 0;
  font-size: 2em;
}

h1 *:first-child {
  letter-spacing: -5px;
  font-size: 4.375em;
}

@media only screen and (max-width: 62.5em) {
  h1 {
    grid-template-columns: 100%;
    grid-gap: 0px;
  }
}

/*
 * Layout
 * ------
 */

.l-container {
  max-width: 77.5em;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.l-center {
  /* min-height: 100vh; */
  display: flex;
  align-items: center;
}

.l-center > * {
  width: 100%;
}

.l-grid {
  display: grid;
  grid-template-columns: minmax(400px, 40%) 1fr;
  grid-gap: 5%;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 43.75em) {
  .l-grid {
    grid-template-columns: 100%;
    grid-gap: 40px;
  }
}

.l-max {
  @media only screen and (max-width: 43.75em) {
    max-width: 31.25em;
    margin: auto;
  }
}

/*
 * Object: Aspect Ratio
 * --------------------
 */

.o-aspect-ratio {
  position: relative;
  overflow: hidden;
}

.o-aspect-ratio::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.o-aspect-ratio[data-padding="80"]::before {
  padding-top: 80%;
}

.o-aspect-ratio[data-padding="66"]::before {
  padding-top: 66%;
}

.o-aspect-ratio__media {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

/*
 * Object: Overlap
 * ---------------
 */

.o-overlap-bottom,
.o-overlap-top {
  position: absolute;
  width: 70%;
}

.o-overlap-bottom {
  left: 0;
  top: 0;
}

.o-overlap-top {
  right: 0;
  bottom: 0;
}

.o-overlap-bottom__deco {
  background: var(--green);
  width: 15%;
  top: 0;
  right: 0;
  height: 100%;
  position: absolute;
  transform: translateX(95%);
}

.o-overlap-bottom__deco::before {
  content: '';
  position: absolute;
  width: 33.33333%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--white);
  opacity: 0.2;
  transform: translateX(100%);
}

.o-overlap-bottom__deco::after {
  content: '';
  position: absolute;
  width: 33.33333%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--white);
  opacity: 0.5;
  transform: translateX(200%);
}

.o-overlap-top__deco {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  border-top: 3px solid var(--green);
  border-right: 3px solid var(--green);
  opacity: 0.8;
  transform: translate(-130%, 115%);
}